table(class="calendar__month")
    tr
        th(class="calendar__th") Пн
        th(class="calendar__th") Вт
        th(class="calendar__th") Ср
        th(class="calendar__th") Чт
        th(class="calendar__th") Пт
        th(class="calendar__th") Сб
        th(class="calendar__th") Вс
    tr
        td(class="calendar_opacity_25") 27
        td(class="calendar_opacity_25") 28
        td(class="calendar_opacity_25") 29
        td(class="calendar_opacity_25") 30
        td(class="calendar_opacity_25") 31
        td 1
        td 2
    tr
        td 3
        td 4
        td 5
        td 6
        td 7
        td(class="calendar_theme_green") 8
        td 9
    tr
        td 10
        td 11
        td 12
        td 13
        td 14
        td 15
        td 16
    tr
        td 17
        td 18
        td(class="calendar_activated") 19
        td(class="calendar_theme_purple") 20
        td(class="calendar_theme_purple") 21
        td(class="calendar_theme_purple") 22
        td(class="calendar_activated") 23
    tr
        td 24
        td 25
        td 26
        td 27
        td 28
        td 29
        td 30
    