div(class="switcher-picture")
    span(class="switcher-picture__elem switcher-picture_active")
    span(class="switcher-picture__elem")
    span(class="switcher-picture__elem")
    span(class="switcher-picture__elem")