div(class="room888__rate room888__rate_five-star")
    span(class="room888__rate-star1")
    span(class="room888__rate-star2")
    span(class="room888__rate-star3")
    span(class="room888__rate-star4")
    span(class="room888__rate-star5")