div(class="room888__about-room")
    div(class="room888__info")
        span(class="room888__badge-number") № 
        span(class="room888__room-number") 888
        span(class="room888__room-category")  люкс
    div(class="room888__money-for-room")
        span(class="room888__money") 9 990
        | &#8381
        span(class="room888__time")  в сутки