div(class="about-room")
    div(class="about-room__info")
        span(class="about-room__badge-number") № 
        span(class="about-room__room-number") 888
        span(class="about-room__room-category")  люкс
    div(class="about-room__money-for-room")
        span(class="about-room__money") 9 990
        | &#8381
        span(class="about-room__time")  в сутки