div(class="calendar")
    div(class="calendar__month-turner")
        span(class="calendar__arrow-left") arrow_back
        h2(class="calendar__month-and-year") Август 2020
        span(class="calendar__arrow-right") arrow_forward
    include ./__month/calendar__month.pug
    include ../refresh-submit-buttons/refresh-submit-buttons.pug