//-поля прибытия/выезда
div(class="info-card__dropdown-dates")
    //-поле даты прибытия
    div(class="info-card__dropdown-arrival")
        h3(class="info-card__dropdown-arrival-label") Прибытие
        div(class="info-card__dropdown-arrival-switcher")
            span 19.08.2020
            div(class="info-card__dropdown-arrival-arrow-wrapper")
                span(class="info-card__dropdown-arrival-arrow") keyboard_arrow_down
    //-поле даты выезда           
    div(class="info-card__dropdown-departure")
        h3(class="info-card__dropdown-departure-label") Выезд
        div(class="info-card__dropdown-departure-switcher")
            span 23.08.2020
            div(class="info-card__dropdown-departure-arrow-wrapper")
                span(class="info-card__dropdown-departure-arrow") keyboard_arrow_down
        