@import "./__about-room/room888__about-room.css";
@import "./__rate/room888__rate.css";
@import "./_five-star/room888__rate_five-star.css";
@import "./_four-star/room888__rate_four-star.css";
@import "./_three-star/room888__rate_three-star.css";
@import "./_two-star/room888__rate_two-star.css";
@import "./_one-star/room888__rate_one-star.css";
@import "../switcher-picture/switcher-picture.css";
@import "../switcher-arrow-right/switcher-arrow-right.css";
@import "../switcher-arrow-left/switcher-arrow-left.css";

@font-face {
    font-family: "Material Icons";
    font-style: normal;
    font-weight: 400;
    src: local("Material Icons"), local(MaterialIcons-Regular), url(room888/fonts/MaterialIcons-Regular.woff) format("woff"), url(room888/fonts/MaterialIcons-Regular.ttf) format("ttf");
}
@font-face {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 400;
    src: local("Montserrat Regular"), local(Montserrat-Regular), url(room888/fonts/Montserrat-Regular.woff) format("woff"), url(room888/fonts/Montserrat-Regular.ttf) format("ttf");
}
@font-face {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    src: local("Montserrat Regular"), local(Montserrat-Medium), url(room888/fonts/Montserrat-Medium.woff) format("woff"), url(room888/fonts/Montserrat-Medium.ttf) format("ttf");
}
@font-face {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    src: local("Montserrat SemiBold"), local(Montserrat-SemiBold), url(room888/fonts/Montserrat-SemiBold.woff) format("woff"), url(room888/fonts/Montserrat-SemiBold.ttf) format("ttf");
}
@font-face {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    src: local("Montserrat Bold"), local(Montserrat-Bold), url(room888/fonts/Montserrat-Bold.woff) format("woff"), url(room888/fonts/Montserrat-Bold.ttf) format("ttf");
}
@font-face {
    font-family: Quicksand;
    font-style: normal;
    font-weight: 700;
    src: local("Quicksand Bold"), local(Quicksand-Bold), url(room888/fonts/Quicksand-Bold.woff) format("woff"), url(room888/fonts/Quicksand-Bold.ttf) format("ttf");
}

/*Основные цвета, шрифты*/
$darkShade100: #1F2041;
$darkShade75: rgba(31, 32, 65, 0.75);
$darkShade50: rgba(31, 32, 65, 0.5);
$darkShade25: rgba(31, 32, 65, 0.25);
$darkShade05: rgba(31, 32, 65, 0.05);
$purple: #BC9CFF;
$green: #6FCF97;
$purpleGrad: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
$greenGrad: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);

%H1 {
    padding: 0;
    margin: 0;
    font-family: "Quicksand", "Montserrat";
    font-style: normal;
    font-weight: bold;
    font-size: 2.4rem;
    line-height: 3rem;
    color: #1F2041;
    letter-spacing: normal;
}

%H2 {
    padding: 0;
    margin: 0;
    font-family: "Quicksand", "Montserrat";
    font-style: normal;
    font-weight: bold;
    font-size: 1.9rem;
    line-height: 2.4rem;
    color: #1F2041;
}

%H3 {
    padding: 0;
    margin: 0 0 0.5rem 0;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 600;
    font-size: 1.2rem;
    line-height: 1.5rem;
    color: #1F2041;
    text-transform: uppercase;
}

%Body {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 2.4rem;
    color: rgba(31, 32, 65, 0.75);
}

%material-icon {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 2.4rem;
    line-height: 2.4rem;
    /* Preferred icon size */
    display: inline-block;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;

    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;

    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;

    /* Support for IE. */
    font-feature-settings: 'liga';
}

.room888 {
    @extend %Body;
    width: 27rem;
    height: 25.75rem;
    background-color: #FFFFFF;
    border-radius: 0.4rem;
    box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
}

.room888__slider-window {
    position: relative;
    width: 27rem;
    height: 15.1rem;
    overflow: hidden;
    margin-bottom: 2rem;
    border-top-right-radius: 0.4rem;
    border-top-left-radius: 0.4rem;
}

.room888__slider {
    display: flex;
    width: 135rem;
    height: 15.1rem;
}

.room888__slider-img {
    width: 27rem;
    height: 15.1rem;
}

.room888__rate-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.8rem;
    padding: 0 1.9rem 0 2rem;
    color: $darkShade50;
}

.room888__comments-amount {
    font-weight: bold;
}

.room888__switcher-picture-wrapper {
    position: absolute;
    top: 85%;
    left: 79%;
}

.room888__switcher-arrow-right-wrapper {
    height: 100%;
    position: absolute;
    right: 0;
}

.room888__switcher-arrow-left-wrapper {
    height: 100%;
    position: absolute;
    left: 0;
}