//-кнопка со стрелкой
button(class="info-card__button-with-arrow info-card__button-with-arrow_theme_one") 
    span(class="info-card__button-with-arrow-label") Забронировать
    span(class="info-card__button-arrow" type="button") arrow_forward