@import "./search-room-card/search-room-card.css";
@import "./enter-card/enter-card.css";
@import "./registration-card/registration-card.css";
@import "./info-card/info-card.css";
@import "./calendar/calendar.css";
@import "./room888/room888.css";

html {
    font-size: 10px;
}

body {
    background-color: #E5E5E5;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
