.room888__rate_three-star .room888__rate-star1:before {
    content: 'grade';
}

.room888__rate_three-star .room888__rate-star2:before {
    content: 'grade';
}

.room888__rate_three-star .room888__rate-star3:before {
    content: 'grade';
}