//-Главный блок
div(class="info-card")
    include ../about-room/about-room.pug
    include ./__dropdown-dates/info-card__dropdown-dates.pug
    include ./__dropdown-guests-field/info-card__dropdown-guests-field.pug
    include ./__calculations/info-card__calculations.pug
    include ./__button-with-arrow/info-card__button-with-arrow.pug